<a href="https://colab.research.google.com/github/Gowtham-dotcom/ML-projects/blob/main/Car%20Price%20Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [373]:
import pandas as pd
import seaborn as sns
import numpy as np

In [374]:
df = pd.read_csv('CarPrice_Assignment.csv')
df.head(10)

   car_ID  symboling                   CarName  ... citympg highwaympg      price
0       1          3        alfa-romero giulia  ...      21         27  13495.000
1       2          3       alfa-romero stelvio  ...      21         27  16500.000
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.000
3       4          2               audi 100 ls  ...      24         30  13950.000
4       5          2                audi 100ls  ...      18         22  17450.000
5       6          2                  audi fox  ...      19         25  15250.000
6       7          1                audi 100ls  ...      19         25  17710.000
7       8          1                 audi 5000  ...      19         25  18920.000
8       9          1                 audi 4000  ...      17         20  23875.000
9      10          0       audi 5000s (diesel)  ...      16         22  17859.167

[10 rows x 26 columns]

In [375]:
df.drop('CarName',axis=1,inplace=True)

In [376]:
df['fueltype'].value_counts()

gas       185
diesel     20
Name: fueltype, dtype: int64

In [377]:
df['fuel']=pd.get_dummies(df['fueltype'],drop_first=True)
df.drop('fueltype',axis=1,inplace=True)

In [378]:
df.head()

   car_ID  symboling aspiration doornumber  ... citympg highwaympg    price  fuel
0       1          3        std        two  ...      21         27  13495.0     1
1       2          3        std        two  ...      21         27  16500.0     1
2       3          1        std        two  ...      19         26  16500.0     1
3       4          2        std       four  ...      24         30  13950.0     1
4       5          2        std       four  ...      18         22  17450.0     1

[5 rows x 25 columns]

In [379]:
df.drop('car_ID',axis=1,inplace=True)

In [380]:
df['asp']=pd.get_dummies(df['aspiration'],drop_first=True)
df.drop('aspiration',axis=1,inplace=True)

In [381]:
df['location']=pd.get_dummies(df['enginelocation'],drop_first=True)

In [382]:
df.drop(['drivewheel','carbody','doornumber','enginetype','cylindernumber','fuelsystem'],axis=1,inplace=True)

In [383]:
df.drop('enginelocation',axis=1,inplace=True)

In [384]:
X = df.drop('price',axis=1)
y = df['price']

In [385]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [386]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [387]:
y_pred = regressor.predict(X_test)
y_pred

array([11491.11315825, 16721.09593942, 30210.59146582,  8657.69627813,
        9543.86321914, 24831.22777612,  6719.63164402, 17631.31045482,
       21428.43457605,  5470.76987836, 10617.42799947,  5959.27487075,
        6710.31282136, 10581.80506504,  6161.18273412, 14917.5013533 ,
        9436.41526826, 21822.30162161, 31614.20045467, 21095.74554115,
        9664.01392883,  8335.83830205, 12172.93335689,  6985.10250881,
       11147.08918275, 11804.15042448, 32509.36235468,  7725.18093981,
       10698.41479238, 10659.68416737, 12209.0107511 , 15710.50227394,
        6291.82478172,  6155.01577909,  6113.05471739, 14927.88619565,
       20130.06651176, 16456.36875051, 32528.        , 24227.00824484,
       14919.61926754, 21696.58417047, 19660.88451226, 10486.72505787,
        9941.43306628, 18299.60462554,  7138.13412948,  6916.70757106,
        6448.179351  , 11236.3432549 ,  9523.68817533,  6464.6922381 ,
        9943.90378951,  7577.89928525, 10964.59031673, 24010.80240063,
       25709.75402367, 11524.44425534,  6435.8954484 , 10819.67304681,
        6161.18273412, 14996.42552578])

In [388]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.8688214321610018

In [389]:
from sklearn.svm import SVR
regressor = SVR()
regressor.fit(X_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [390]:
y_pred = regressor.predict(X_test)

In [391]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=200)
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [392]:
y_pred = regressor.predict(X_test)

In [393]:
print((r2_score(y_test,y_pred))*100)

92.02800623009605