<a href="https://colab.research.google.com/github/Gowtham-dotcom/ML-projects/blob/main/Car%20Price%20Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np

In [ ]:
df = pd.read_csv('CarPrice_Assignment.csv')
df.head(10)

   car_ID  symboling                   CarName  ... citympg highwaympg      price
0       1          3        alfa-romero giulia  ...      21         27  13495.000
1       2          3       alfa-romero stelvio  ...      21         27  16500.000
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.000
3       4          2               audi 100 ls  ...      24         30  13950.000
4       5          2                audi 100ls  ...      18         22  17450.000
5       6          2                  audi fox  ...      19         25  15250.000
6       7          1                audi 100ls  ...      19         25  17710.000
7       8          1                 audi 5000  ...      19         25  18920.000
8       9          1                 audi 4000  ...      17         20  23875.000
9      10          0       audi 5000s (diesel)  ...      16         22  17859.167

[10 rows x 26 columns]

In [ ]:
df.drop('CarName',axis=1,inplace=True)

In [ ]:
df['fueltype'].value_counts()

gas       185
diesel     20
Name: fueltype, dtype: int64

In [ ]:
df['fuel']=pd.get_dummies(df['fueltype'],drop_first=True)
df.drop('fueltype',axis=1,inplace=True)

In [ ]:
df.head()

   car_ID  symboling aspiration doornumber  ... citympg highwaympg    price  fuel
0       1          3        std        two  ...      21         27  13495.0     1
1       2          3        std        two  ...      21         27  16500.0     1
2       3          1        std        two  ...      19         26  16500.0     1
3       4          2        std       four  ...      24         30  13950.0     1
4       5          2        std       four  ...      18         22  17450.0     1

[5 rows x 25 columns]

In [ ]:
df.drop('car_ID',axis=1,inplace=True)

In [ ]:
df['asp']=pd.get_dummies(df['aspiration'],drop_first=True)
df.drop('aspiration',axis=1,inplace=True)

In [ ]:
df['location']=pd.get_dummies(df['enginelocation'],drop_first=True)

In [ ]:
df.drop(['drivewheel','carbody','doornumber','enginetype','cylindernumber','fuelsystem'],axis=1,inplace=True)

In [ ]:
df.drop('enginelocation',axis=1,inplace=True)

In [ ]:
X = df.drop('price',axis=1)
y = df['price']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = regressor.predict(X_test)
y_pred

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.8346190622846124

In [ ]:
from sklearn.svm import SVR
regressor = SVR()
regressor.fit(X_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=100)
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
print(r2_score(y_test,y_pred))

0.90009418889388